.avatar-container {
    .avatar{
        filter: grayscale(0%);
    }
    
    &:hover {
        .avatar{
            filter: grayscale(80%);
        }
    }
}
  
.avatar{
    position:relative;
    width:200px;
    height:200px;
    border-radius:50%;
    overflow:hidden;
    max-width:100%;
    height: auto;
    box-shadow: $box-shadow;
}

.card-img-top {
    img{
      max-height: 200px;
      max-width: auto;
    }
}

  
.card {
    background: $mouseover-bg;

    &:hover {
        box-shadow: $box-shadow-hover;
        background: $mouseover-bg;
    }
}
  
.card-body { 
    font-size: 2vw;
    padding-left: 0;
    padding-right: 0;
    * {
        margin:0;
    }
}
  