
.btn {
    box-shadow: $box-shadow;
    background-color: $secondary-color;
    border-radius: 6px !important;
    border: 1px solid #000000 !important; 
    display: inline-block;
    cursor: pointer;
    color:$primary-color;
    //option2 for buttons
    //font-family: 'Roboto', sans-serif !important;
    font-family: 'Bungee' !important ;
    font-size: 20px;
    padding: 10px 34px !important;
    text-decoration: none;
    text-shadow: $text-shadow;
    //margin: 0 !important;
    margin-bottom: 10px;
  }
  
  .btn:hover {
    background-color: #6C757D;
    box-shadow: inset 0px 1px 0px 0px black;
  }
  
  .btn:active {
    position: relative;
    top: 1px;
    background-color: $primary-color;
  }

  .close {
    text-shadow: $text-shadow;
    font-size: 2rem;
    color:$red;
    &:hover{
      color:darken($red, 10%);
    }
  }