
//== Footer
//
//##

footer{
    margin-top: 2rem;
    background-color: $quaternary-color;
    box-shadow: inset 0px 4px 4px 0px $secondary-color;
    color: $secondary-color !important;
    @include transition(all 0.2s ease-in-out);
  
    i{
      color: $secondary-color;
    }
  
    * {
      @include transition(all 0.2s ease-in-out);
    }
    
    &:hover {
      box-shadow: inset -1px 4px 4px 0px mix(#000, $primary-color, 20%);
      i{
        letter-spacing: 10px;
        color: $primary-color;
        &:hover {
          color: white;
        }
      }
    }
  }