
//== Images
//
//## 

.svg {
    height:40px;
    width:auto;
    padding-bottom: 8px;
  }
  

  
.image-container {
width:50%;
margin:10px 30px;
text-align: center;

    img {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        display: block;
        border-radius: 10%;
        max-height:300px;
        box-shadow: 0px 4px 12px -2px rgba(black,1);
        margin-bottom:1rem; 
    }
    @media (max-width: $screen-xs) {
        float:none;
        width:100%;
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }
}

/*
 The following are what I used to add the videos and ensure that they are reponsive
*/
.iframe-container {
    overflow: hidden ;
    /* 16:9 aspect ratio */
    padding-top: 34%;
    margin: 0 auto;
    margin-bottom: 1em;
    position: relative;

    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 62%;
        margin: 0 auto;
        box-shadow: 0px 4px 12px -2px rgba(black,1);
        border-radius: 5%;
        

        @media (max-width: $screen-sm) {
            width:100%;
        }
    }

    @media (max-width: $screen-sm) {
        padding-top: 56%;
    }
}