@import url(https://fonts.googleapis.com/css?family=Bungee:200,300,400,700);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//== Variables
//
//##
$primary-color: #00adb5;
$secondary-color: #243B55;
$tertiary-color: #152134;
$quaternary-color: mix(#000, $tertiary-color, 50%);
$hover-color: white;

$brand-primary: darken($primary-color, 6.5%);
$body-color: white;
$screen-xs: 768px;
$screen-sm: 992px;

$link-color: $brand-primary;
$link-hover-decoration: bold;
$link-hover-color: white;
$mouseover-bg: $quaternary-color;

$text-shadow: 2.5px 2.5px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
$box-shadow: 0px 4px 12px -2px rgba(black,1);
$box-shadow-hover: 0px 4px 12px -2px rgba($primary-color,1);

$body-bg: $tertiary-color;

$dropdown-bg: $secondary-color;
$dropdown-link-color: $primary-color;
$dropdown-link-hover-bg: none;
$dropdown-link-hover-color: $hover-color;
$component-active-bg: $primary-color;

// buttons
$btn-default-color: $primary-color;

$modal-content-bg: $secondary-color;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// Pagnation

$pagination-bg: $tertiary-color;
$pagination-hover-bg: none;


//== Imports
//
//##

@import 'bootstrap/bootstrap';

@import 'nav.scss';
@import 'footer.scss';
@import 'images.scss';
@import 'toc.scss';
@import 'avatar.scss';
@import 'pages.scss';
@import 'masonary.scss';
@import 'buttons.scss';

//== Generic
//
//##

html {
  scroll-behavior: smooth;
  height:100%;
  margin: 0;
}

body { 
  min-width:320px;
  font-family: 'Roboto', sans-serif !important;
  padding-top: 70px; 
  height:100%;
  font-weight: 400;
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #141E30;  /* fallback for old browsers */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	line-height: 1.5em;
}

h1 {
  font-family: 'Bungee' !important ;
}

h1,h2,h3,h4,h5,h6 {
  text-shadow: $text-shadow;
}

.event-date{
  font-family: 'Bungee' !important ;
  * {
    margin:0;
  }
  .upcoming-event-date {
    color:lemonchiffon;
  }
}

i{
  font-size: 2rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, $secondary-color, $primary-color, $secondary-color);
  clear: both;
}

.jumbotron {
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom:1rem;
  background-position: center top;
  @media (min-width: 2000px) {
    background-size: auto;
  }
}







