
.masonary-container {
    margin: 0 2% 0 2%;
    @media (min-width: 768px) {
      margin: 0 5% 0 5%;
    }
    @media (min-width: 1200px) {
      margin: 0 10% 0 10%;
    }
   
  }
  
  
  
.masonary-item {
  min-height: 200px;
  cursor: pointer;
  padding:0;
  z-index: 0;
  transition: all ease-in 0.1s;
  -webkit-transition: all ease-in 0.1s;
  -moz-transition: all ease-in 0.1s;
  -ms-transition: all ease-in 0.1s;
  -o-transition: all ease-in 0.1s;
  background: $quaternary-color;

  

  .masonary-item-content{
    padding: 0.8rem;
    z-index: 1 !important;
    background-size: cover;
    background: no-repeat;
    background-position: 100%;
    min-height: 200px;
  
    border:1px solid black;
  }
  
  &:hover{
    z-index: 1 !important;
    box-shadow: $box-shadow-hover;
    transform: translate(8px, -8px);
    -webkit-transform: translate(8px, -8px);
    -moz-transform: translate(8px, -8px);
    -ms-transform: translate(8px, -8px);
    -o-transform: translate(8px, -8px);
    
  }


  
}
  