

//== Pagination
//
//##

.pagination{
    border-color: $primary-color;
    
    * {
      vertical-align: middle;
      text-shadow: $text-shadow;
      font-family: 'Bungee' !important ;
    }
    
  }
  



//== NavBar
//
//##

nav {
    .navbar-toggler{
      color: $primary-color;
    }
  
    font-size:1.2rem !important;
    position: sticky;
    align-self: start;
    color: $primary-color;
    font-family: 'Bungee' !important ;
    text-shadow: $text-shadow;
    background-color: $tertiary-color;
    box-shadow: 0px 4px 4px -2px mix(#000, $primary-color, 20%);
    @include transition(all 0.2s ease-in-out);
  
    .nav-item * {
      text-align: center;
    }
  
    .nav-link {
      padding:0px;

      @media (max-width: 992px) {
          padding: 8px !important;
        }
    }
  

}
  
:target::before {
    content: "";
    display: block;
    height: 70px; /* fixed header height*/
    margin: -70px 0 0; /* negative fixed header height */
}

