//== Pages
//
//##

main ul>li {

    //help space out lists for ease of readability
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  
    ul>li{
      //keep lists in lists close together
      margin:0;
    }
  
}
  
  
  
.contributors {
    font-size: 1rem;
}

.source { 
    padding:1rem;
    font-size:1.3rem;
    font-weight:500;
}



  