//== Table of contents
//
//##

@media (max-width: $screen-sm) {
    nav[data-toggle="toc"] {
      margin-bottom: 42px;
      position: static;
    }
  }
  
  nav[data-toggle="toc"] {
    top: 70px;
    box-shadow: $box-shadow;
    border-radius: 4px;
    
  }
  
  nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  }
  
  nav[data-toggle=toc] .nav>li{
  
    //help alleviate too much text in toc
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.5;        /* fallback */
    max-height: 1.5*2;       /* fallback */
  
    a {
      display:block;
      font-size:15px;
      font-weight:500;
      color:$brand-primary;
      font-family: 'Roboto', sans-serif !important;
      font-weight: 600;
      text-shadow: none;
    }
  }
  nav[data-toggle=toc] .nav>li>a:focus,nav[data-toggle=toc] .nav>li>a:hover {
    padding-left:19px;
    color:$primary-color;
    text-decoration:none;
    background-color:transparent;
    border-left:1px solid $primary-color
  }
  
  nav[data-toggle=toc] 
    .nav-link.active,nav[data-toggle=toc] .nav-link.active:focus,nav[data-toggle=toc] .nav-link.active:hover {
    padding-left:18px;
    font-weight:700;color:$primary-color;
    background-color:transparent;
    border-left:2px solid $primary-color
  }
  
  nav[data-toggle=toc] .nav-link+ul{
    display:none;padding-bottom:10px
  }
    
  nav[data-toggle=toc] .nav .nav>li>a {
    padding-top:1px;
    padding-bottom:1px;
    padding-left:26px;
    font-size:12px;
    font-weight:400;
   
  }
  
  nav[data-toggle=toc] .nav .nav>li>a:focus,nav[data-toggle=toc] .nav .nav>li>a:hover {
    padding-left:25px
  }
  
  nav[data-toggle=toc] .nav .nav>li>.active,nav[data-toggle=toc] .nav .nav>li>.active:focus,nav[data-toggle=toc] .nav .nav>li>.active:hover{
    padding-left:24px;font-weight:500
  }
  
  nav[data-toggle=toc] .nav-link.active+ul {
    display:block
  }
  
  
  
  
  
  