<!doctype html>
<html lang="en">
{{ partial "site-head.html" . }}

<body class="d-flex flex-column" data-spy="scroll" data-target="#toc" data-offset="180"> <!-- scrollspy used for Table of Conents component-->
    
  {{ partial "site-navbar.html" . }}
 
  <div class="flex-fill main"> <!-- flex-fill needed for sticky footer -->
    {{ block "main" . }}{{ end }}
  </div>

  {{ partial "site-footer.html" . }}
  {{ partial "site-scripts.html" . }}
  
</body>


</html>