{{- define "main" -}}
  <div class="container">
    <div class="row">
      {{ partial "page-components.html" .}}
      <main class="col">
          <h1 style="margin-bottom: 0">
              {{- .Title -}} 
            
            </h1>
              {{ if eq .Section "events" }}
                {{ partial "event-date.html" . }}
              {{ end }}
          {{ if isset .Params "community" }}
            <div class="contributors">
              {{ $len := len .Params.community }}

              {{ if eq $len 1 }} 
                <span>By: &nbsp</span>
              {{else}}
                <span>Contributors: &nbsp</span>
              {{end}}

                {{- range $index, $element := .Params.community -}}
                  {{- with $.Site.GetPage "taxonomyTerm" (printf "community/%s" (urlize .)) -}}

                    {{ if gt $index 0 }}
                        {{ if eq $index (sub $len 1) }}
                          <span>&nbsp & &nbsp</span>
                        {{ else }}
                          <span>, &nbsp</span>
                        {{end}}
                    {{ end }}

                    <a href="{{ .Permalink }}" style="font-size:1rem;">
                      {{ .Params.firstName }} {{ .Params.lastName }}
                    </a>
                    
                  {{- end -}}
                {{- end -}}
            </div>
            
                

          {{ end }}
          <hr>
        {{ .Content }}

      </main>
    </div>
  </div>
{{- end -}}