{{- define "main" -}}
<div class="container">
  <h1 style="text-align: center;">{{ .Title }}</h1>
  <hr>
<div class="row row-cols-xs-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
  <!-- reponsive cards -->
{{ range .Pages }}

  <div class="col mb-4">
    <a href="{{ .Permalink }}">
      <div class="card col-auto mb-3 avatar-container" style=" max-width: 10rem;">
        
          {{ if isset .Params "photo" }} <!-- fixes issue where using a variable for photopath makes the default site photo not work -->
            {{ $photoPath := (print .RelPermalink .Params.photo) }}
            <img class="card-img-top img-fluid avatar mt-3" src='{{ $photoPath | default .Site.Params.photo }}' alt="Card image cap">
          {{ else }}
            <img class="card-img-top img-fluid avatar mt-3" src='{{ .Site.Params.photo }}' alt="Card image cap">
          {{ end }}
         
        
        <div class="card-body text-nowrap" >
          <h5>{{ .Params.firstName }}</h5>
          <h5>{{ .Params.lastName }}</h5>
        </div>
      </div>
    </a>
  </div>


{{ end }}
</div>
</div>
{{- end -}}



