{{- define "main" -}}
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h1>{{ .Params.firstName }} {{ .Params.lastName }}</h1>
      <img class="img-fluid mx-auto d-block avatar img-responsive"  src='{{ .Params.photo | default .Site.Params.photo }}' alt=""/>
      <div style="margin-top: 1rem;text-align: center;">
        {{ if isset .Params.social "twitter" }}
          <a href="https://twitter.com/{{ $.Params.social.twitter }}">
            <i class="fab fa-twitter-square"></i>
          </a>
        {{ end }}
        {{ if isset .Params.social "youtube" }}
          <a href="mailto:{{ $.Params.social.youtube}}">
            <i class="fas fa-youtube-square"></i>
          </a>
        {{ end }}

        {{ if isset .Params.social "linkedin" }}
          <a href="https://linkedin.com/in/{{ $.Params.social.linkedin }}">
            <i class="fab fa-linkedin"></i>
          </a>
        {{ end }}

        {{ if isset .Params.social "github" }}
          <a href="https://github.com/{{ $.Params.social.github }}">
            <i class="fab fa-github-square"></i>
          </a>
        {{ end }}

        {{ if isset .Params.social "email" }}
          <a href="mailto:{{ $.Params.social.email}}">
            <i class="fas fa-envelope-square"></i>
          </a>
        {{ end }}
      </div> 
      
    </div>
    <div class="col-lg-8">
      <h2 style="text-align: center" >Bio</h2>
      <hr class="mb-3">
      {{ .Content }}
    </div>
  </div>
</div>
<main role="main" class="col mt-5">
    <h2 style="text-align: center;">{{ .Params.firstName }}'s Contributions</h2>
    <hr class="mb-3">
      
    {{ partial "site-pagination-list.html" .}}
    {{ partial "site-pagination-nav.html" .}}


</main>


{{- end -}}
