<div class="row event-date">
  {{ if ge .Date now }}
  
    <div class="col-flex pl-3">
      <h2 class="mb-0 upcoming-event-date" >{{ .Date.Format "Jan 2" }}</h2>
    </div>
    <div class="col pl-1">

      {{ if eq (.Date.Format "3pm") "12am" }} <!-- If the time of day is set to default (12:00am in the morning) then declare time TBD -->
                                              <!-- This allows us to set the day without setting the time of day -->
        <h6 class="upcoming-event-date">{{.Date.Format "Monday"}}</h6>
        <h6 class="m-0 text-muted"> Time TBD</h6>
      {{ else }}
        <h6 class="upcoming-event-date"> {{ .Date.Format "Monday" }}</h6>
        <h6 class="upcoming-event-date"> {{ .Date.Format "3pm" }}</h6>
      {{ end }}
    </div>
    {{ else }}

    <div class="col-flex pl-3 text-muted">
      <h2 class="mb-0">{{ .Date.Format "Jan 2" }}</h2>
    </div>
    <div class="col pl-1 text-muted">

      <h6> {{ .Date.Format "Monday" }}</h6>
      <h6> {{ .Date.Format "3pm" }}</h6>
    </div>
    {{ end }}
  
</div>