<!-- main content column width will dynamically change based on component column width -->

<!-- table of contents component -->
{{ if .Params.tableOfContents }}
    <div class="col-lg-2"> 
        <nav class="position-sticky" id="toc" data-toggle="toc" aria-label="Secondary navigation"></nav>
    </div>
{{ end }}
<!-- end of table of contents component -->


<!-- Add new components here -->
