
<div class="card p-3">
    {{ if and (isset .Params "image") .Params.image }}
      <a href="{{ .Permalink }}" title="" class="card-img-top">
          <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
      </a>
      <hr class="mb-3">
    {{ end }}
    <div class="card-text">
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
         
    </div>
</div>
