


<!-- 3 Feature Sizes below-->
{{ if eq .Params.featureSize 3 }}
  <div class="masonary-item col-lg-12 col-xl-12 mb-1"> <!-- Size 3: Full Width at all screen sizes -->
{{ else if eq .Params.featureSize 2}}
  <div class="masonary-item col-lg-12 col-xl-8 mb-1"> <!-- Size 2: Full Width at small, 2/3 at large -->
{{ else }}                                 
  <div class="masonary-item col-md-6 col-lg-6 col-xl-4 mb-1"> <!-- Size 1: Half Width at small, 1/3 at large --> <!-- DEFAULT -->
{{ end }}

  
<a href="{{ .Permalink }}">
    {{ if and (isset .Params "image") .Params.image }}
      <div class="masonary-item-content" style="background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.45)), url('{{.Params.image}}') ;">
    {{ else }} 
      <div class="masonary-item-content" style="background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.45))">
    {{ end  }}
     
        {{ if eq .Section "events" }}
          {{ if ge .Date now }}
            <h6 class="event-date m-0" style="color:darkorange; white-space:nowrap" >UPCOMING EVENT</h6> 
          {{ else }}
            <h6 class="event-date m-0 text-muted" style="white-space:nowrap" >Past Event</h6> 
          {{ end }}
          
          {{ partial "event-date.html" . }}
        {{ end }}
        <div style="position: absolute; bottom: 0;">
           <h3 class="m-0">{{ .Title }}</h3>
          {{ if eq .Params.showPostSummary true }}
            <p class="m-0" style="color:white !important;">{{.Summary}}</p>
          {{ end }}
          {{ if .PublishDate }}
            <span class="masonary-item-footer text-muted p-0" style="font-size:small">Posted {{ .PublishDate.Format "January 2, 2006"}}</span>
          {{ end }}
        </div> 
      </div>
    </a>
</div>
