<div class="row masonary-container" data-masonry='{"percentPosition": true }'>
  <div class="grid-sizer col-md-6 col-lg-6 col-xl-4"></div> <!-- REQUIRED!!! This sets the minimum widths for all columns at different screen sizes-->
    {{ range .Paginator.Pages }}
      {{ partial "site-masonary-grid.html" . }}
    {{ end }}
</div>