
<footer style="z-index:1">
    <div class="container text-center">

        <div class="pt-4">

            <a href="https://discord.com/invite/{{ $.Site.Params.issessions.social.discord }}">
                <i class="fab fa-discord"></i>
            </a>

            <a href="https://www.youtube.com/channel/{{ $.Site.Params.issessions.social.youtube }}">
                <i class="fab fa-youtube-square"></i>
            </a>

            <a href="https://twitter.com/{{ $.Site.Params.issessions.social.twitter }}">
                <i class="fab fa-twitter-square"></i>
            </a>
            

            <a href="https://linkedin.com/company/{{ $.Site.Params.issessions.social.linkedin }}">
                <i class="fab fa-linkedin"></i>
            </a>

            <a href="https://github.com/{{ $.Site.Params.issessions.social.github }}">
                <i class="fab fa-github-square"></i>
            </a>

        </div>
        <div class="pt-2">
            <h6><a href="https://issessions.ca/"> © {{ now.Format "2006" }} ISSessions.ca</a></h6>
        </div>
    </div>
  
</footer>
