<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-default">
  <div class="container">
    <div id="breadcrumbs" class="navbar-brand">
      <img class="svg" src="/images/club_logo.svg" >
      <a  href="/" ><span style="font-size: 1.5rem;letter-spacing:1px;">ISS</span>essions</a>
    </div>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class='nav-item dropdown' >
              <a class="nav-link" style="white-space: nowrap;" href="{{.URL}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ .Pre }}
                <span>{{ .Name }} <i style="font-size:1rem;" class="fas fa-angle-down"></i></span> 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{ range .Children }}                
                {{ if eq .Post "disabled" }}
                  <a class="dropdown-item disabled" data-toggle="tooltip" data-placement="right" title="Stay tuned!">{{.Name}}</a>
                {{ else }}
                  <a class="dropdown-item" href="{{.URL}}">{{.Name}}</a>
                {{ end }}
                

              {{ end }}
              </div>
            </li>
          {{else}}
            <li class="nav-item">
              <a class="nav-link" href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            </li>
          {{end}}
        {{end}}
      </ul>
    </div>
  </div>
</nav>