<!-- Bootstrap Scripts -->

{{ $jqueryJs := "js/jquery-3.3.1.slim.min.js" -}}
<script src="{{ $jqueryJs | absURL }}"></script>

{{ $bootstrapJs := "js/bootstrap.bundle.min.js" -}}
<script src="{{ $bootstrapJs | absURL }}"></script>

<!-- Page Script Components -->

{{ if .Params.tableOfContents }}
    {{ $bootstrapToc := "js/bootstrap-toc.min.js" -}}
    <script src="{{ $bootstrapToc | absURL }}"></script>
{{ end }}


<!-- Main Scripts -->

{{ $main := "js/main.js" -}}
<script src="{{ $main | absURL }}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
