{{ define "main" }}
<div class="jumbotron jumbotron-fluid" style='min-height: 40vh;background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/main.jpg" );'>
  <div class="container " >
    <h1 >Welcome to ISSessions</h1>
    <p class="lead"><a href='{{ ref . "about.md" }}'>
      <button type="submit" class="btn">
        Learn More About US
      </button></a></p>
  </div>
</div>
    <main aria-role="main">
        
          {{ partial "site-pagination-list.html" .}}
          {{ partial "site-pagination-nav.html" .}}
    </main>
{{ end }}