

{{- $float := .Get "float" -}}
{{- $newsTitle := .Get "news-title"}}
{{- $newsSummary := .Get "news-summary" }}
{{- $newsImage:= .Get "news-image" -}}
{{- $newsSite := .Get "news-site" -}}
{{- $newsSource := .Get "news-source" -}}

{{ if .IsNamedParams }}
    <h2 data-toc-text="{{ $newsTitle }}"> {{ $newsSummary }}</h2>
    {{ if $newsImage }}
        
        {{ if eq $float "right" }}
            <div class="image-container" style="float:right">
        {{ else if eq $float "left"  }}
            <div class="image-container" style="float:left">
        {{ else }}
            <div class="image-container">
        {{ end }}
        <img src="{{ $newsImage }}">
        
    {{ else }}
        <div>
    {{ end }}   
        <span class="source text-muted">
            {{ if and ($newsSource) ($newsSite)   }}
                Source:  <a href="{{ $newsSource}}"> {{ $newsSite }}</a>
            {{ else if $newsSource}}
                <a href="{{ $newsSource }}"> Source</a>
            {{ else if $newsSite}}
                Source: {{ $newsSite }}
            {{ end }}  
        </span>
    </div>
{{ end }}