  
{{- $pc := .Page.Site.Config.Privacy.YouTube -}}
{{- if not $pc.Disable -}}
  {{- $ytHost := cond $pc.PrivacyEnhanced  "www.youtube-nocookie.com" "www.youtube.com" -}}
  {{- $id := .Get "id" | default (.Get 0) -}}
  {{- $class := .Get "class" | default (.Get 1) }}
  <div {{ with $class }}class="{{ . }}"{{ end }} {{ if not $class }} class="iframe-container" {{ end }}>
    <iframe src="https://{{ $ytHost }}/embed/{{ $id }}" allowfullscreen title="YouTube Video"></iframe>
  </div>
{{ end -}}